* {
    box-sizing: border-box; 
}

body {
    background-color: #D9D9D9;
}

.container {
    border: 1px dashed blue; 
    width: 80%;
    margin: 0 auto; 
}

header {
    display: inline-block; 
    font-size: 4rem;
    font-family: 'Fascinate Inline', cursive;
    text-align: right; 
}

li {
    border: 1px solid green; 
}

main {
    border: 1px solid black;
    display: block; 
    text-align: center; 
}

.player-one,
.player-two {
    display: inline-block; 
    border: 1px solid black; 
    text-align: right; 

}

.player-form {
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
}

figure {
    border: 1px solid black;
    display: inline-block; 
    cursor: pointer;
    margin: 0; 
}

figcaption {
    text-align: center; 
}

.figure-container {
    text-align: center; 
}

.chat-box {
    border: 1px solid black; 
    width: 33.3%;
    float: left;
    text-align: center; 
}

.message-input {
    width: 80%; 
}

#message-display {
    border: 1px solid black; 
    height: 100px; 
    background-color: white;
    text-align: left; 
    overflow-y: auto; 
}

.scoreboards {
    clear: both; 
    border: 1px solid black; 
}

table {
    margin: 0 auto; 
}

th,
td {
    border: 1px solid black; 
    text-align: center; 
    padding: .2rem;
}

/* Google Fonts
----
font-family: 'Fascinate Inline', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Teko', sans-serif;
---- */