* {
    box-sizing: border-box; 
}

body {
    background-color: #D9D9D9;
}

header {
    font-size: 2rem;
}

form {
    padding: 10px 0 10px 0;
}

figure {
    border: 1px solid black;
    display: inline-block;
    cursor: pointer; 
}

figcaption {
    text-align: center; 
}